<footer id="footer" class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="row">
                    <ul>
                        <li>
                            <a class="text-light" style="font-size: 12px" href="#">
                                Associação dos Ex-alunos da Mauá 
                            </a>
                        </li>
                        <li>
                            <a class="text-light" style="font-size: 12px" href="#">
                                Avaliações 
                            </a>
                        </li>
                        <li>
                            <a class="text-light" style="font-size: 12px" href="#">
                                Universidades Parceiras 
                            </a>
                        </li>
                        <li>
                            <a class="text-light" style="font-size: 12px" href="#">
                                Centro de Esporte e Atividades Físicas
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <a class="d-block text-light">
                            Campus  São Caetano do Sul
                        </a>
                        <a class="d-block text-light">
                            Praça Mauá 1 São Caetano do Sul - SP
                        </a>
                    </div>
                    <div class="col-md-6">
                        <a class="d-block text-light">
                            Campus  de São Paulo
                        </a>
                        <a class="d-block text-light">
                            R. Pedro de Toledo, 1071
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                    <div class="container d-block justify-content-center p-2 text-primary">
                        <div class="row">
                            <a class="text-light">
                                Fale Conosco
                            </a>
                        </div>
                        <div class="row">
                            <a class="mr-2 bg-success rounded p-1 text-dark" href="#"><img src="/assets/image/zap.png" style="width: 32px">Whatsapp</a>
                            <a class="mr-2 bg-danger rounded p-1 text-dark" href="#">0800 019 3100</a>
                            <a class="mr-2 bg-danger rounded p-1 text-dark" href="#">CHAT ONLINE</a>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</footer>