<body>
      <div class="container">
          <div class="card-group">
                <div class="card">
                      <h5 class="card-title">Engenharia da computação</h5>
                      <img class="card-img-top" src="/assets/image/engenharia-computacao.png" alt="Card image cap">
                      <div class="card-body">
                            <p class="card-text">A Engenharia de Computação está presente em nosso dia a dia e nas mais diversas áreas: Educação, Indústrias, Redes de Comunicação e Dispositivos Móveis, Transportes, Entreterimento, entre outras. Essa diversidade de aplicações para o Engenheiro de Computação qualifica-o para atuar como desenvolvedor, engenheiro, empreendedor, executivo de grandes corporações.</p>
                      </div>
                      <div class="card-footer">
                          <small class="text-muted">Curso com nota 4/5 no MEC</small>
                      </div>
                </div>
                <div class="card">
                      <h5 class="card-title">Engenharia de C A</h5>
                      <img class="card-img-top" src="/assets/image/engenharia-controle-automacao.png" alt="Card image cap">
                      <div class="card-body">
                            <p class="card-text">Você está procurando uma graduação em Engenharia de Controle e Automação que o destaque no mercado de trabalho. Conheça o curso oferecido pela Mauá!</p>
                      </div>
                      <div class="card-footer">
                          <small class="text-muted">Curso com nota 5/5 no MEC</small>
                      </div>
                </div>
                <div class="card">
                      <h5 class="card-title">Engenharia Eletrônica</h5>
                      <img class="card-img-top" src="/assets/image/engenharia-eletronica.png" alt="Card image cap">
                      <div class="card-body">
                            <p class="card-text">A Engenharia Eletrônica está em nosso cotidiano, presente nas mais diversas áreas: Comunicação, Transporte, Sistemas Computadorizados, Controle de Processos, Entretenimento, Segurança, Automação Predial e Industrial, Indústria de Eletrodomésticos e Equipamentos Médicos, entre muitas outras. Essa amplitude de aplicações para o engenheiro eletrônico, com uma formação ampla e diversificada, faz com que o profissional esteja preparado para assumir projetos que vão desde minúsculos circuitos eletrônicos até imensas redes de comunicação.</p>
                      </div>
                      <div class="card-footer">
                          <small class="text-muted">Curso com nota 4/5 no MEC</small>
                      </div>
                </div>
                <div class="card">
                      <h5 class="card-title">Engenharia Mecânica</h5>
                      <img class="card-img-top" src="/assets/image/engenharia-mecanica.png" alt="Card image cap">
                          <div class="card-body">
  
                                <p class="card-text">A graduação em Engenharia Mecânica é uma das mais abrangentes modalidades da Engenharia. Ela trata de tudo o que se move, de brinquedos a fábricas (com tudo o que está dentro), passando por eletrodomésticos, embarcações, veículos etc. Além disso, ela trata de instalações de conversão de energia como hidroelétricas e termoelétricas, instalações de ar-condicionado, de geração de vapor e frigoríficas.</p>
                          </div>
                      <div class="card-footer">
                            <small class="text-muted">Curso com nota 4/5 no MEC</small>
                      </div>
                </div>

                <app-cursos *ngFor="let c of cursos" [curso]="c"></app-cursos>
          </div>
          <button class="btn btn-dark" (click)="mostrarForm()">Criar Curso</button>

          <app-form-cursos *ngIf="!esconderForm" (cursoAdd)="onCursoAdd($event)"></app-form-cursos>

      </div> 
</body>
