<body>
    <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/">Página inicial</a></li>
                <li class="breadcrumb-item active" aria-current="page">Professores</li>
          </ol>
    </nav>
    <div class="container">
        <table class="table">
              <thead>
                    <tr>
                          <th scope="col">Foto</th>
                          <th scope="col">Nome</th>
                          <th scope="col">Curriculo Lattes</th>
                    </tr>
              </thead>
              <tbody>
                    <tr>
                          <th scope="row d-flex"><img style="width: 75px" src="http://servicosweb.cnpq.br/wspessoa/servletrecuperafoto?tipo=1&id=K4761620P2"></th>
                          <td>Marco António Furlan</td>
                          <td><a href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K4761620P2">Link</a></td>
                    </tr>
                    <tr>
                          <th scope="row"><img style="width: 75px" src="http://servicosweb.cnpq.br/wspessoa/servletrecuperafoto?tipo=1&id=K4709911P1"></th>
                          <td>Aparecido Freitas</td>
                          <td><a href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?metodo=apresentar&id=K4709911P1">Link</a></td>
                    </tr>
              </tbody>
        </table>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
